<div class="home-container">
  <div class="home-container__form">
    <mat-card class="home-container__generated__card" *ngIf="alreadyGenerated && !generatedPaper">
      <mat-card-content *ngIf="alreadyGenerated">
        <h1 class="home-container__generated__card__text"> Su papel ya ha sido asignado </h1>
      </mat-card-content>
    </mat-card>
    <mat-card class="home-container__form__card" *ngIf="!alreadyGenerated || generatedPaper">
      <mat-card-header>
        <mat-card-title class="home-container__form__card__title">Sortear Nombre</mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="generatedPaper">
        <h1> {{paperName}}</h1>
      </mat-card-content>
      <mat-card-actions>
        <button class="home-container__form__card__button" mat-raised-button color="warn" (click)="updatePaper()"
          [disabled]="generatedPaper">Sacar Papel</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>