.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d31027, #ea384d); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d31027, #ea384d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  &__form{
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    &__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;

      &__logo {
        width: 30vw;
        height: 20vh;
      }

      &__title, &__input, &__button {
        font-family: 'Gloria Hallelujah', cursive;
      }

      &__title {
        font-size: 24px;
      }
    }
  }

  &__generated__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 30px;

    &__text {
      text-align: center;
    }
  }

}